.env


venv/
.venv/
env/
.env/
travel_app_venv/

travel_app_venv/
pip-log.txt
pip-delete-this-line.txt
.python-version



*.pyc
__pycache__/
*.$py.class


.DS_Store
.idea/
.vscode/
*.swp
*~


db.sqlite3
*.log

media/

.env